<!--
  filtros
-->
<form id="filtros" action="/apartamentos/filtrar" method="post">

    <div class="form-group row">
      <div class="col-md-3" id="filtro_ai">
        <label id="atiIna">Ativo/Inativo...:</label>
        <input type="text" name="atv_ini" value="A" id="edit_atv_ini" /> A <input type="text" name="atv_fim" value="I"
          id="edit_atv_fim" />
      </div>
  
      <div class="col-md-3" id="filtro_executar">
        <button type="submit" class="btn  btn-block " id="botexecutar" > Executar </button>
      </div>
    </div>
  
  </form>
  <!--
    final filtros
  -->
  