
    <header>
      <div class="form-row">
        <div class="col-md-2 offset-md-0" id="cab_esquerda">
          <figure>
            <img id="logo" src="./imagens/apartment.png" alt="Logo" width="80" height="80">
          </figure>
        </div>

        <div class="col-md-8 offset-md-0" id="cab_centro">
          <p></p>
          <p> <h3 style="color:purple;"> <%= titulo %> </h3> </p>
          <p> <h4 style="color:black; text-align: center;"> <%= subtitulo %> </h4> </p>          
        </div>

    </header>

<!--
    final cabeçalho da página
-->
