
<!--
  início menu horizontal
-->
    <div id='menu_horizontal'>
      <nav class='menuPrincipal'>
        <ul>
          <li> <a href="/apartamentos/listar">Apartamentos</a> </li>
          <li> <a href="/">Início</a> </li>
          <li> <a href="/">Voltar</a> </li>
        </ul>
      </nav>
    </div>
    <div id="espaco"></div>

<!--
  final do menu horizontal
-->

